<!DOCTYPE html>
<html lang="zh-CN">
    <head>
        <script type="text/javascript" th:src="@{https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js}"></script>
        <link th:href="@{https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css}" rel="stylesheet"/>
        <link th:href="@{/css/default.css}" rel="stylesheet"/>
        <link rel="icon" th:href="@{/images/favicon.ico}" type="image/x-icon"/>
        <meta charset="UTF-8"/>
        <title>门派管理</title>
    </head>

    <body>
        <div class="contentDiv">

            <h5> </h5>

            <legend>
                <strong>门派管理</strong>
            </legend>

            <form th:action="@{/classes/{action}(action=${action})}" method="post" class="form-horizontal">

                <input type="hidden" name="id" th:value="${user.id}"/>

                <div class="form-group">
                    <label for="user_name" class="col-sm-2 control-label">名称:</label>
                    <div class="col-xs-4">
                        <input type="text" class="form-control" id="user_name" name="name" th:value="${user.name}" th:field="*{user.name}" />
                    </div>
                    <!--<label class="col-sm-2 control-label text-danger" th:if="${#fields.hasErrors('user.name')}" th:errors="*{user.name}">姓名有误!</label>-->
                </div>

                <div class="form-group">
                    <label for="user_des" class="col-sm-2 control-label">描述:</label>
                    <div class="col-xs-4">
                        <textarea  class="form-control" id="user_des" name="des" th:value="${user.des}" th:field="*{user.des}" />
                    </div>

                </div>

                <div class="form-group">
                    <label for="user_suitid" class="col-sm-2 control-label">套装ID:</label>
                    <div class="col-xs-4">
                        <input type="text" class="form-control" id="user_suitid" name="suitid" th:value="${user.suitid}" th:field="*{user.suitid}"/>
                    </div>

                </div>

                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <input class="btn btn-primary" type="submit" value="提交"/>&nbsp;&nbsp;
                        <input class="btn" type="button" value="返回" onclick="history.back()"/>
                    </div>
                </div>
            </form>
        </div>
    </body>
</html>